@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Quicksand !important;
  background: black;
  font-family: sans-serif;
  color: #354358;
}
/* ::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #cc2b5e, #753a88);
}
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}  */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #753a88, #753a88);
  border-radius: 5px;
}
